
.container {
    width: 170px;
  height: 73px;
  background: transparent none repeat scroll 0 0;
  color: #999;
  font-size: 100%;
  line-height: 24px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Specific styles for .heart-rate container */
.container .heart-rate {
  width: 150px;
  height: 73px;
  position: relative;
  margin: 20px 0px;
}

/* Styles for the fade-in animation */
.container .heart-rate .fade-in {
  position: absolute;
  width: 60%;
  height: 100%;
  background-color: #147e65;
  top: 0;
  right: 0;
  animation: heartRateIn 2.5s linear infinite;
}

/* Styles for the fade-out animation */
.container .heart-rate .fade-out {
  position: absolute;
  width: 20%; /* Adjusted width to ensure animation space */
  height: 100%;
  background-color: #147e65;
  top: 0;
  right: 0%;
  z-index: 0;
  animation: heartRateOut 1s linear infinite;
}

/* Keyframes for the heartRateIn animation */
@keyframes heartRateIn {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

/* Keyframes for the heartRateOut animation */
@keyframes heartRateOut {
  0% {
    left: -10%;
  }
  50% {
    left: 60%;
  }
  100% {
    left: 100%;
  }
}
